**** IGNORE COMMENTS
START_ENTITY Dynamic Player
Name Player1Test
StaticImage Assets/graphics/hero.png
SpriteSheet
Audio
Effects
END_ENTITY

START_ENTITY Dynamic Player
*** test
Name Player1Test2
StaticImage Assets/graphics/hero.png
*test
SpriteSheet
Audio
Effects
END_ENTITY

START_ENTITY Dynamic Enemy
*** test
Name Enemy1Test
StaticImage Assets/graphics/enemy.png
*test
SpriteSheet
Audio
Effects
END_ENTITY