**** IGNORE COMMENTS
START_ENTITY Dynamic Player
Name Player1Test
StaticImage Assets/graphics/hero.png
SpriteSheet
Audio
Effects
END_ENTITY

*static -> not movable but interactable, dynamic movable, Scenery background items

START_ENTITY Dynamic Player
*** test Name Player1Test2
StaticImage Assets/graphics/hero.png test
SpriteSheet Audio
Effects END_ENTITY

START_ENTITY Dynamic Enemy
** test
Name Enemy1Test
StaticImage Assets/graphics/enemy.png test
SpriteSheet
Audio
Effects
END_ENTITY

START_ENTITY Scenery Background
** test
Name BackgroundImage1
StaticImage Assets/graphics/bg.png test
SpriteSheet
Audio
Effects
END_ENTITY

START_ENTITY UI UI_Image
Name PlayButton
StaticImage Assets/graphics/Play.png
SpriteSheet
Audio
Effects
END_ENTITY

START_ENTITY UI UI_Image
Name QuitButton
StaticImage Assets/graphics/Quit.png
SpriteSheet
Audio
Effects
END_ENTITY
